<launch>
  <arg name="robot_namespace" default="robot"/>
  <arg name="map_update_freq" default="1.0"/><!-- Hz -->
  <arg name="map_topic_input" default="blam_slam/octree_map"/>
  <arg name="map_topic_output" default="blam_slam/octree_map_downsampled"/>

  <!-- Trotthling map -->
  <node name="map_throttler" type="throttle" pkg="topic_tools" args="messages $(arg map_topic_input) $(arg map_update_freq)">
  </node>
 
  <!-- Run a VoxelGrid filter to clean NaNs, downsample the data, and transform poincloud before publication-->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" respawn="true"/>
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen" respawn="true">
   <remap from="~input" to="$(arg map_topic_input)_throttle" /><!--ADD BACK _throttle-->
   <remap from="~output" to="$(arg map_topic_output)" />
   <rosparam subst_value="true">
     filter_field_name: z
     filter_limit_min: -100
     filter_limit_max: 100
     filter_limit_negative: False
     leaf_size: 0.1
     output_frame: $(arg robot_namespace)/blam
    </rosparam>
  </node> 

</launch>
