.DS_Store
*~
*.pyc
*.o
*.so
*.dylib
_*.py
*.swp
.exrc
ROS_NOBUILD

.build_version

build
bin
lib

.svn

ipc_bridge

msg_gen
srv_gen

cpp
java
lisp
oct

data

*.sconsign.dblite
*.os

CMakeCache.txt
*.bag

*/docs/*.aux
*/docs/*.log
/docs/*.rel

Ogre.log
doc